$primary-colour: #212121;
$secondary-colour: #616161;
$accent-colour: #bdbdbd;

:root {
  --color-text: $accent-colour;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.btn {
  @include border-radius();
}

.header {
  display: grid;
}

.background {
  background-color: $primary-colour;
  background-repeat: no-repeat;
}

body {
  color: $accent-colour;
}
